<div class="row">
  <div class="page-header">
    <div class="col-md-6">
      <h1 class="hover-jp"><span data-en="Text Analyzer" data-jp="テキスト解析"></span></h1>
      <form method="post" action="/vocab/add">
        <textarea id="vocabForm" name="words" style="display: none;"></textarea>
    </div>
  </div>
    <div class="col-md-6 text-right">
      <button type="button" class="btn btn-default hover-jp" id="clearVocab">
        <span data-en="Clear" data-jp="消す"></span>
      </button>
      <button type="submit" class="btn btn-primary hover-jp" style="vertical-align: bottom">
        <span data-en="Add Words" data-jp="単語を加える"></span>
      </button>
    </div>
    </form>
</div>

<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <div id="analyzer-functions" class="hover-jp">
      <span data-en="Search based on: " data-jp="検索の単語："></span>

      <span class="jp"><%= @seed %></span>

      <div class="pull-right">
        <form method="post" action="user/update" class="form form-horizontal">
          <label for="maxUnknown" class="hover-jp">
            <span data-en="Max Unknown Words: " data-jp="知らない単語数"></span></label>
          <input type="text" name="maxUnknown" value="<%= current_user.max_unknown %>" />
          <input class="form-control" type="hidden" name="id" value="<%= current_user.id %>" />
            <button type="submit" class="btn btn-primary hover-jp" style='marging-bottom: 0.1em;'><span data-en="Change" data-jp="変更"></span></button>
          </span>
        </form>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% @out.each do |word| %>
      <% if word[:pos] != 'symbol' && word[:pos] != 'number' && !@vocablist.include?(word[:lemma]) %>
        <a class="jp <%= word[:pos] %>" tabindex="0" href="" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-content="<%= word[:def] %><br /><p class='jp'><%= word[:reading] %></p>" >
          <%= word[:jp] %>
        </a>
      <% else %>
        <span class="jp"><%= word[:jp] %></span>
      <% end %>
    <% end %>
    <br/><br/>
    Vocabulary to Add: <p id="vocabToAdd"></p>
    <p class="text-muted text-center"><a data-toggle="collapse" aria-expanded="false" aria-controls="view-en" href="#view-en" class="hover-jp"><span data-en="View English" data-jp="英語の翻訳を見る"></span><span class="caret"></span></a></p>
    <div id="view-en" class="collapse">
      <div class="well">
        <p><%= @eng %></p>
      </div>
    </div>
  </div>
</div>
